@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet');

:root{
    --color-fondo: #2E3532;
    --color-primario: #c7cedb;
    --color-secundario: #3b3e3d;
    --color-texto:#81a486;
    --color-texto-oscuro: #81a486;
    --tipografia: 'Roboto Mono', serif;
    --particulas-color: #c7cedb;
    --particulas-linea-color: rgb(199, 206, 219);
}

.dark-theme {
    --color-fondo: #edeec0;
    --color-primario: #29260f;
    --color-secundario: #d1d5c3;
    --color-texto:#81a486;
    --particulas-color: #433e0e;
    --particulas-linea-color: rgb(67, 62, 14);

    --color-texto-oscuro: #29260f;
   
}


/* Ajustes generales  pantallas grandes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--tipografia); 
    color: var(--color-primario);
    line-height: 1.6;
    background-color: var(--color-fondo);
    color: var(--color-primario);
    overflow-x: hidden;
}
p {
    font-family: var(--tipografia); 
    color: var(--color-texto);
}

#p-oscuro {
    color: var(--color-texto-oscuro);
}

.btn-hola {
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-primario);
    background-color: var(--color-texto);
    color: var(--color-primario);
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.btn-hola:hover {
    background-color: var(--color-primario);
    color: var(--color-texto);
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--color-primario);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-bottom: 1rem;
    cursor: pointer;
}

#avatar:hover {
    transform: scale(1.05);
}

#inicio {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.subrayado{
    color: var(--color-primario);
    font-weight: bolder;
}

input:-webkit-autofill, 
textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--color-texto) inset; /* Fondo igual al campo*/
    -webkit-text-fill-color: var(--color-primario); /* Color del texto */
}

#theme-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    transition: transform 0.3s ease, color 0.3s ease;
}

#theme-icon:active {
    transform: scale(1.2);
}

.top-bar {
    display: grid;
    grid-template-columns: auto auto; /* Dos columnas ajustadas al contenido */
    gap: 10px; /* Espacio entre las columnas */
    position: fixed;
    top: 20px;
    right: 20px; /* Posición a la derecha */
    justify-content: flex-end; /* Alinea los elementos desde la derecha */
    align-items: center; /* Centra los elementos verticalmente */
}

/* Sección de Proyectos */
#proyectos {
    text-align: center;
    padding: 10rem;
}

.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.proyecto-card {
    background-color: var(--color-secundario);
    margin-top: 1rem;
    border: 2px solid var(--color-primario);
    border-radius: 8px;
    padding: 1.5rem;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyecto-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.btn-proyecto {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-texto);
    color: var(--color-primario);
    text-decoration: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.5s ease;
    
}

.btn-proyecto:hover {
    background-color: var(--color-primario);
    color: var(--color-texto);
}

#btn-ver-proyectos{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-primario);
    background-color: var(--color-texto);
    color: var(--color-primario);
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.5s ease;
    margin-top: 0.5rem;
}

/* Sección de Contacto */
#contacto {
    font-family: var(--tipografia); 
    text-align: center;
    padding: 2rem;
}

.form-contacto {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, textarea {
    font-family: var(--tipografia);
    width: 100%;
    padding: 0.75rem;
    border: 2px solid var(--color-primario);
    background-color: var(--color-texto);
    color: var(--color-primario);
    border-radius: 5px;
    font-size: 1rem;
}

input::placeholder, textarea::placeholder {
    color: var(--color-primario);
}

.btn-enviar{
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    border: 2px solid var(--color-primario);
    background-color: var(--color-texto);
    color: var(--color-primario);
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s ease;
    
}

.btn-enviar:hover {
    color: var(--color-texto);
    background-color: var(--color-primario);
}

/* Sección de Fondo animado */

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Pone el canvas al detrás de todo */
}






